

.container {
    padding: 100px;
    background-color: #DEEFB7;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .button {
    width: 100%;
    color: #FFFFFF; /* Text color */
    background-color: olive; /* Background color */
    border: none; /* Optional: Remove border if needed */
  }